---
layout: post
title: ML
---
icon : 💡 📌 🔍 👩‍💻
<!-- ML 카테고리 -->
{% assign pages_list = site.categories %}
{% for node in pages_list %}
    {% if node[0] == "ML" %}
        {% for post in node[1] %}
            {% comment %} <h5 href="{{site.baseurl}}{{page.url}}/">{{site.baseurl}}{{page.url}}{{ site.category}}</h5> {% endcomment %}
            <hr>
            <a href="{{site.baseurl}}{{post.url}}">
                {{ post.title | escape }}
            </a>
        {% endfor %}
    {% endif %}
{% endfor %}

