<div class="modal">
    <div class="modal_body">
        <h1>감사합니다.</h1>
        <img height="32" width="32" src="https://unpkg.com/simple-icons@v6/icons/kakao.svg" />
        <button class="btn">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="text">Test Me!</span>
          </button>
    </div>
</div>