


<!DOCTYPE HTML>
<html lang="en">

<head>

    {%- include head.html -%}

    {% assign reversed_posts = site.posts | reverse %}

</head>

<body>
    <div class="book">

        {%- include toc-date.html -%}

        <div class="book-body">
            {%- include body.html -%}


<ul class="posts-list">
  
  {% assign category = page.category | default: page.title %}
  {% for post in site.categories[category] %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
        </a>
        <small>{{ post.date | date_to_string }}</small>
      </h3>
    </li>
  {% endfor %}
  
</ul>

        </div>


        <script>
            var gitbook = gitbook || [];
            gitbook.push(function () {
                gitbook.page.hasChanged({%- include metadata-category.json.tpl -%});
            });
        </script>
    </div>

    {%- include footer.html -%}




</body>

</html>


